

<h1><%= @student.firstname %> <%= @student.lastname %></h1>
<p><strong>Ad:</strong> <%= @student.firstname %></p>
<p><strong>Soyad:</strong> <%= @student.lastname %></p>

<%= link_to 'Back', students_path %>
